footer {
    padding-left: 20px;
    position: relative;
}

footer h5, footer p, footer a {
    font-size: 1.5rem;
    margin: 5px;
    max-width: 300px;
    color: lightgray;
}

footer h5 {
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}

footer .row div:first-child div {
    display: flex;
    margin-bottom: 15px;
}

footer .row div:first-child div p {
    color: white;
}

footer .imgfooter1, footer .imgfooter2 {
    width: 10rem;
}

footer .imgfooter1 {
    display: block;
    margin-top: 20px;
}

footer .imgfooter2 {
    position: absolute;
    bottom: 80px; 
    right: -40px;
}

/* Section copyright en bas du footer */
footer div:last-child {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

footer div:last-child p {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

@media (min-width: 1920px) {
    footer .imgfooter1, footer .imgfooter2 {
        width: 12rem;
    }
}
